<!-- Start Footer Seciton -->
<footer>
  <div class="container">
    <div class="st-copyright-wrap text-center">
      <div class="st-copyright-text">© 2023. Designed by Jumaxtech. All right reserved.</div>
    </div>
  </div>
</footer>
<!-- End Footer Seciton -->

<!-- Scripts -->
<script src="public/assets/js/jquery-1.12.4.min.js"></script>
<script src="public/assets/js/jquery.slick.min.js"></script>
<script src="public/assets/js/lightgallery.min.js"></script>
<script src="public/assets/js/wow.min.js"></script>
<script src="public/assets/js/ripples.min.js"></script>
<script src="public/assets/js/particles.min.js"></script>
<script src="public/assets/js/main.js"></script>
</body>

</html>